server:
  port: 8088

spring:
  application:
    name: helloworld
#  cloud:
#    consul:
#      host: localhost
#      port: 8500
#      discovery:
#        enabled: true
#        register: true
#        hostname: host.docker.internal
#        prefer-ip-address: false
#        instance-id: ${spring.application.name}-${server.port}
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
