server:
  port: 8088

spring:
  application:
    name: helloworld
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        register: true
        hostname: host.docker.internal
        prefer-ip-address: false
        instance-id: ${spring.application.name}-${server.port}

